@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
  font-family: "NanumSquareOTF_acB";
  src: url("../font/Nanumsquare_ac_TTF/NanumSquare_acB.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareOTF_acEB";
  src: url("../font/Nanumsquare_ac_TTF/NanumSquare_acEB.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareOTF_acL";
  src: url("../font/Nanumsquare_ac_TTF/NanumSquare_acL.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareOTF_acR";
  src: url("../font/Nanumsquare_ac_TTF/NanumSquare_acR.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoBlack";
  src: url("../font/Roboto/Roboto-Black.ttf") format("truetype");
}

$bg_color: #fff;
$bg_main1: url("../img/main_bg1.jpg");
$bg_intro: url("../img/intro_bg.jpg");
$bg_product: url("../img/product_bg.jpg");
$bg_gallery: url("../img/gallary_bg.png");
$bg_qna: url("../img/qna_bg.jpg");
$bg_bottom: url("../img/bottom_bg.jpg");

.atag {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}
.container {
  margin: 0;
}
body {
  background-color: #{$bg_color};
  margin: 0;
}
.mainTab {
  display: flex;
  height: 90px;
  margin-left: 300px;
}
.Tab {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 117px;
  font-family: "NanumSquareOTF_acEB";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  color: white;
  &:hover {
    color: #006aff;
    border-bottom: 3px solid #006aff;
    .tabList {
      height: 343px;
    }
  }
}
.blank {
  height: 12.5px;
  width: 100%;
}
.tabList {
  margin-right: 87px;
  height: 90px;
  &:hover {
    height: 343px;
    .tlist {
      visibility: visible;
    }
    .Tab {
      color: #006aff;
      border-bottom: 3px solid #006aff;
    }
  }
}
.tlist {
  cursor: pointer;
  visibility: hidden;
  margin-top: 16px;
  font-family: "NanumSquareOTF_acEB";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  color: #a5a4a4;
  &:hover {
    color: #006aff;
  }
}
.subTab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 190px;
  height: 90px;
}
.blank90 {
  width: 100%;
  height: 90px;
}
.galleryBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 133px;
  width: 1300px;
}
.galleryItem {
  margin: 69px 15px 69px 15px;
  cursor: pointer;
}

.introNav {
  height: 58px;
  padding-top: 2px;
  cursor: pointer;
  font-family: "NanumSquareOTF_acB";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.06;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
  &:hover {
    color: white;
    background-color: #006cff;
  }
}
.introNav1 {
  width: 102px;
}
.introNav2 {
  width: 133px;
}
.introNav3 {
  width: 148px;
}
.introCnt {
  margin-top: 120px;
  width: 800px;
  font-family: "NanumSquareOTF_acR";
  font-size: 23px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.17;
  letter-spacing: normal;
  text-align: left;
  color: black;
  span {
    font-family: NanumSquareOTF_acB;
    font-size: 27px;
  }
}
.introCnt2 {
  display: flex;
  margin-top: 120px;
  img {
    margin-left: 52px;
    margin-right: 52px;
  }
}
.introCnt3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}
.map {
  width: 990px;
  height: 543px;
  margin-bottom: 94px;
  background-color: black;
  & > div {
    width: 990px !important;
    height: 543px !important;
  }
}
.board1 {
  width: 990px;
}
.boardTitle1 {
  border-bottom: solid 2px #908d8d;
  padding-bottom: 12px;
  font-family: "NanumSquareOTF_acEB";
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: normal;
  text-align: left;
  color: black;
}
.boardRow1 {
  display: flex;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 21px;
  border-bottom: solid 1px #d0d0d0;
  width: 100%;
  .br_title1 {
    width: 200px;
    font-family: "NanumSquareOTF_acB";
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: black;
  }
  .br_cnt1 {
    font-family: "NanumSquareOTF_acR";
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: #6e6e6e;
  }
}
.historyImg {
  margin-left: 60px;
}
.greetImg {
  position: relative;
  bottom: 150px;
  left: 200px;
}
.mainWord {
  text-align: center;
}
.mainWord11 {
  color: white;
}
.mainWord12 {
  color: #006cff;
}
.mainWord1 {
  text-shadow: 0 5px 3px rgba(0, 0, 0, 0.16);
  font-family: "RobotoBlack";
  font-size: 70px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: -0.75px;
}
.mainWord2 {
  color: white;
  font-family: "NanumSquareOTF_acR";
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: -0.75px;
}

.introTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 81px;
}
.introTitle2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}
.introNm {
  font-family: "NanumSquareOTF_acB";
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: black;
}
.underline35 {
  margin-top: 42px;
  width: 35px;
  border-bottom: 2px solid black;
}
.goDetail {
  margin-top: 47px;
  font-family: "NanumSquareOTF_acR";
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #797878;
  img {
    margin-left: 8px;
  }
}
.goDetailEN {
  margin-top: 80px;
  font-family: "NanumSquareOTF_acR";
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #797878;
  img {
    margin-left: 8px;
  }
}

@-webkit-keyframes zoom-a {
  0% {
    background-size: 105% auto;
  }
  100% {
    background-size: 108% auto;
  }
}
@-moz-keyframes zoom-a {
  0% {
    background-size: 105% auto;
  }
  100% {
    background-size: 108% auto;
  }
}
@-o-keyframes zoom-a {
  0% {
    background-size: 105% auto;
  }
  100% {
    background-size: 108% auto;
  }
}
@keyframes zoom-a {
  0% {
    background-size: 105% auto;
  }
  100% {
    background-size: 108% auto;
  }
}
.resize_motion {
  -webkit-animation: zoom-a 5s linear infinite alternate; /* Safari 4+ */
  -moz-animation: zoom-a 5s linear infinite alternate; /* Fx 5+ */
  -o-animation: zoom-a 5s linear infinite alternate; /* Opera 12+ */
  animation: zoom-a 5s linear infinite alternate; /* IE 10+, Fx 29+ */
}

////////////////////////////////////////// Main //////////////////////////////////////////

////////////////////////////////////////// FOOTER //////////////////////////////////////////

////////////////////////////////////////// FOOTER //////////////////////////////////////////
.productOverView {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1194px;
  height: 327px;
  margin-top: 98px;
}
.productOverView2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1194px;
  height: 362px;
  margin-top: 98px;
}
.productNm1 {
  width: 517px;
  font-family: "NanumSquareOTF_acR";
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: black;
}
.en {
  font-size: 23px !important;
}
.en2 {
  font-size: 18px !important;
}
.productNm2 {
  width: 575px;
  font-family: "NanumSquareOTF_acR";
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: black;
}
/////////////////////////////////////
.board2 {
  width: 1194px;
  margin-top: 160px;
  margin-bottom: 135px;
  border-top: solid 3px #707070;
  border-bottom: solid 3px #707070;
}
.br_title2 {
  width: 50%;
  font-family: "NanumSquareOTF_acEB";
  border-bottom: solid 1px #707070;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: black;
}
.rbar {
  border-right: solid 1px #707070;
}
.br_cnt2 {
  width: 50%;
  border-bottom: solid 1px #707070;
  font-family: "NanumSquareOTF_acR";
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}
.boardRow2 {
  display: flex;
}
.pim {
  margin-top: 101px;
}
////// 온라인 문의 //////
.subintro {
  display: flex;
  font-family: "NanumSquareOTF_acB";
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 93px;
  margin-bottom: 53px;
  width: 1194px;
  height: 68px;
  border-radius: 10px;
  background-color: #f3f3f3;

  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #787878;
}
.boxline {
  width: 1194px;
  border: solid 1px #e6e6e6;
}
.sendBox {
  display: flex;
  padding: 20px 0 9px 0;
}
.sendTitle {
  display: flex;
  align-items: center;
  width: 128px;
  font-family: "NanumSquareOTF_acB";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.sendContent input {
  width: 321px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #b6b6b6;
  background-color: #dddddd;
}
.sendContent textarea {
  width: 1065px;
  height: 106px;
  border-radius: 4px;
  border: solid 1px #b6b6b6;
  background-color: #dddddd;
}
.buttondiv {
  text-align: right;
}
.mailbutton {
  margin-top: 26px;
  width: 100px;
  height: 35px;
  border-radius: 4px;
  border: 0px;
  background-color: #006cff;
  cursor: pointer;

  font-family: "NanumSquareOTF_acB";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: #fff;
}
